*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.app {
  margin: 0 auto;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: yellowgreen;
}
