*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

/* :root {
  --size: 10;
  --dimension: 60px;
} */

.app {
  margin: 0 auto;
  width: 50rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 1.5rem;
}

.message {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.board {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size), var(--dimension));
  grid-template-rows: repeat(var(--size), var(--dimension));
  gap: 4px;
  background-color: #aaa;
}

.board > div {
  border: 2px solid gray;
}
